/* ###### GENERAL #####*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
  --primary-purple: rgb(169, 77, 254);
  --primary-gray: rgb(241, 242, 243);
  --primary-blue: rgb(2, 2, 217);
  --primary-orange: rgb(255, 111, 0);
}

body {
  font-size: 1.6rem;
  padding-bottom: 3rem;
}

hmtl, body {
  width: 100%;
  min-width: 37.5rem;
  height: 100%;
}

header, main, footer, aside {
  width: min(42.5rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
}

img, svg {
  width: 2rem;
  height: 2rem;
}

img, svg, header h1, #size ul li, #moreInfo, button {
  cursor: pointer;
}

/* ###### HEADER #####*/

header div, header nav{
  display: flex;
  padding-block: 0.5rem;
}

header::before {
  content: "";
  width: 100%;
  height: 13.4rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--primary-purple);
}

header div:nth-child(1) {
  align-items: center;
  justify-content: space-between;
}

header .wrapper {
  gap: 1rem;
}

header h1 {
  position: absolute;
  left: calc(50% - 7.48rem);
}

nav {
  justify-content: space-between;
  align-items: center;
}

nav::before {
  content: "";
  width: 100%;
  height: 4.4rem;
  display: block;
  position: absolute;
  top: 4.4rem;
  left: 0;
  z-index: -1;
  background-color: var(--primary-gray);
}

header div:nth-child(3) {
  text-align: center;
  text-transform: uppercase;
  justify-content: space-around;
  font-size: 1.4rem;
}

/* ###### IMAGES SECTION #####*/

#images {
  padding-top: 2rem;
}

#images img {
  max-width: 100%;
  width: max-content;
  height: max-content;
}

/* ###### DETAILS SECTION #####*/

#rating, #rating ul, #rating div {
  display: flex;
  list-style-type: none;
  padding-block: 1rem;
  align-items: center;
  font-weight: bold;
}

#rating {
  gap: 1rem;
}

#size {
  padding-block: 2rem;
}

#size p {
  font-weight: bold;
  color: var(--primary-blue);
  padding-bottom: 1rem;
}

#size ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.4rem, 1fr));
  gap: 1rem;
  list-style-type: none;
}

#size ul li {
  border: solid gray 1px;
  border-radius: 0.5rem;
  text-align: center;
  padding-block: 1.5rem;
}

#moreInfo {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
}

/* ###### ASIDE #####*/

aside {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

aside p:nth-child(1) {
  text-decoration: line-through red 2px;
}

aside p strong {
  font-size: 3rem;
  margin-right: 1rem;
}

aside p span {
  font-weight: bold;
}

 button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  text-transform: uppercase;
  background-color: white;
  color: var(--primary-blue);
  border: var(--primary-blue) solid 1px;
  border-radius: 0.5rem;
}

.orange {
  background-color: var(--primary-orange);
  color: white;
  border: white;
  padding-inline: 1rem;
}

/* ###### FOOTER #####*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  padding-block: 1rem;
}

footer div:nth-child(1) {
  display: flex;
  gap: 1rem;
}

footer div:nth-child(2) {
  line-height: 2.5rem;
}

footer div:nth-child(2) p:nth-child(2) {
  color: gray;
}

footer img {
  width: 15%;
  height: 100%
}

footer::before {
  content: "";
  width: 100%;
  height: 7.372rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: white;
}

/* ###### LARGER SCREENS #####*/

@media (min-width: 700px) {
  header, main, footer, aside {
    width: 100%;
    margin-inline: auto;
    padding-inline: 2rem;
  }

  body {
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside";
    grid-template-columns: 3fr 1fr;
  }

  header {
    grid-area: header;
  }

  main { 
    grid-area: main;
  }

  aside {
    grid-area: aside;
  }

  footer { 
    grid-area: aside;
  }
}